#sub-container-thanks {
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
#sub-container-thanks img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sub-container-thanks h1 {
    font-size: 4rem;
    line-height: 7rem;
    text-align: center;
    margin-top: 20px;
}

#sub-header {
    padding: 0px 25px;
}

#customer-cart {
    padding: 10px 50px;
    padding-left: 5px;
}
#preview-items {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 80px - 65px - 240px);
}
#preview-items p {
    font-size: 1.2rem;
}
@media (min-height: 500px) and (max-height: 540px) {
    #preview-items {
        max-height: 235px;
    }
}
@media (min-height: 540px) and (max-height: 590px) {
    #preview-items {
        max-height: 270px;
    }
}
@media (min-height: 590px) and (max-height: 620px) {
    #preview-items {
        max-height: 300px;
    }
}
@media (min-height: 620px) and (max-height: 650px) {
    #preview-items {
        max-height: 310px;
    }
}
@media (min-height: 650px) and (max-height: 680px) {
    #preview-items {
        max-height: 335px;
    }
}
@media (min-height: 680px) and (max-height: 720px) {
    #preview-items {
        max-height: 360px;
    }
}
@media (min-height: 720px) and (max-height: 768px) {
    #preview-items {
        max-height: 405px;
    }
}

#footer-cart {
    padding: 10px 50px;
    padding-left: 25px;
    position: absolute;
    bottom: 0;
    border-top: solid 3px var(--main-dark-green);
}
#footer-cart .preview-logo-container {
    display: flex;
    align-items: center;
}
#footer-cart .preview-logo-container img {
    width: auto;
    height: 120px;
}
#footer-cart h1, #footer-cart h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 400px) and (max-width: 1024px) {
    #sub-header {
        padding: 0px 21px;
    }
    #sub-header h1 {
        font-size: 1.5rem;
    }
    #preview-items p {
        font-size: 1.1rem;
    }
    #customer-cart {
        padding-right: 25px;
    }
    #customer-cart h2,
    #footer-cart h3 {
        font-size: 1.1rem;
    }
    #footer-cart h1 {
        font-size: 1.55rem;
    }
}
@media (min-width: 400px) and (max-width: 1024px) and (min-height: 768px) {
    #footer-cart h1, #footer-cart h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (min-width: 1025px) and (max-width: 1367px) {
    #sub-header h1 {
        font-size: 1.8rem;
    }
    #customer-cart {
        padding-right: 30px;
    }
    #customer-cart h2,
    #footer-cart h3 {
        font-size: 1.2rem;
    }
    #footer-cart h1 {
        font-size: 1.7rem;
    }
    #footer-cart h1, #footer-cart h3 {
        margin-top: 18px;
        margin-bottom: 18px;
    }
}
@media (min-width: 1025px) and (max-width: 1367px) and (max-height: 768px) {
    #footer-cart h1, #footer-cart h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width: 1367px) and (max-height: 768px) {
    #customer-cart h2,
    #footer-cart h3 {
        font-size: 1.1rem;
    }
    #footer-cart h1 {
        font-size: 1.7rem;
    }
    #footer-cart h1, #footer-cart h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-height: 500px) and (max-height: 620px) {
    #sub-container-thanks h1 {
        font-size: 2.5rem;
        line-height: 5rem;
    }
    #sub-header h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #customer-cart h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #footer-cart h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #footer-cart .preview-logo-container img {
        width: 100%;
        height: auto;
    }
}
@media (max-height: 768px) {
    #sub-container-thanks h1 {
        font-size: 3.5rem;
    }
    #footer-cart h3 {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    #footer-cart .preview-logo-container img {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 1280px) and (max-height: 768px) {
    #footer-cart .preview-logo-container img {
        width: auto;
        height: 100px;
    }
}
@media (min-height: 768px) and (max-width: 950px) {
    #footer-cart .preview-logo-container img {
        width: 100%;
        height: auto;
    }
}