/* Search Bar Style */
#search-bar {
    margin-bottom: 15px;
}
#search-bar .wrapper {
    border-width: 2px;
    border-radius: 10px;
}

/* Cart Style */
#cart-items {
    overflow: auto;
    max-height: calc(100vh - 290px);
    padding-left: 10px;
    padding-right: 10px;
}
.item-discount p {
    margin-top: 15px;
}

/* Quantity Cell Style */
.qty-text.MuiFormControl-root, span.qty-text {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.qty-text.MuiFormControl-root .MuiInputBase-input {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Discount Dropdown Style */
.dropdown-discount .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    transform: scale(0.9);
    margin-left: 10px;
    border-radius: 10px;
}

/* Hide Textfield Number Arrow */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (min-height: 500px) and (max-height: 580px) {
    #search-bar {
        margin-bottom: 0;
    }
    #cart-items {
        max-height: 300px;
    }
    #cart-items p,
    #cart-items span {
        font-size: 0.8em;
    }
    #cart-items .MuiSvgIcon-root {
        width: 0.8em;
        height: 0.8em;
    }
    .qty-text.MuiFormControl-root .MuiInputBase-input {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (min-height: 580px) and (max-height: 620px) {
    #search-bar {
        margin-bottom: 10px;
    }
    #cart-items {
        max-height: 350px;
    }
    #cart-items p,
    #cart-items span {
        font-size: 0.85em;
    }
    #cart-items .MuiSvgIcon-root {
        width: 0.85em;
        height: 0.85em;
    }
    .qty-text.MuiFormControl-root .MuiInputBase-input {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (min-height: 620px) and (max-height: 700px) {
    #cart-items {
        max-height: 380px;
    }
    #cart-items p,
    #cart-items span {
        font-size: 0.9em;
    }
    #cart-items .MuiSvgIcon-root {
        width: 0.9em;
        height: 0.9em;
    }
    .qty-text.MuiFormControl-root .MuiInputBase-input {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (min-height: 700px) and (max-height: 768px) {
    #cart-items {
        max-height: 450px;
    }
    .qty-text.MuiFormControl-root .MuiInputBase-input {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 400px) and (max-width: 960px) {
    .qty-text.MuiFormControl-root {
        margin-left: 5px;
        margin-right: 5px;
    }
    .qty-text.MuiFormControl-root .MuiInputBase-input {
        padding-left: 5px;
        padding-right: 5px;
    }
}